


    <div class="row " style="margin-top:30px;">
        <div class="col-lg-12">
            <div class="w3-panel w3-card-4 p-10 shaddo bg-white dashbord text-center text_color p-2">

                <table class="w-100">
                    <tr>
                        <th colspan="5">
                            <h3>Sales statistics</h3>

                        </th>
                    </tr>
                    <tr>
                        <td>
                            Date from
                            <input class="form-control" type="date" />

                        </td>
                        <td>
                            Date to
                            <input class="form-control" type="date" />

                        </td>
                        <td colspan="5">
                     
                                <button type="button" class="btn button_custome">Generate report</button>
                                @*<button type="button" class="btn btn-secondary">Right</button>*@
                          

                        </td>
                       
                    </tr>
                   
                  
                </table>
                <hr />
                <div class="row">
                    <div class="col-lg-6">
                        <table class="w-100">
                            <tr>
                                <th colspan="2">
                                    <h3>Water & Electricity</h3>

                                </th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    GRAPH GOES HERE

                                </td>

                            </tr>

                        </table>
                    </div> 
                    <div class="col-lg-6">
                        <table class="w-100">
                            <tr>
                                <th >
                                    <small>Date</small>

                                </th>  
                                <th colspan="2">
                                    <small>Carton</small>

                                </th> <th colspan="2">
                                    <small>Sold</small>

                                </th>
                                <th colspan="2">
                                    <small>Total</small>

                                </th>
                            </tr>
                            
                        </table>
                    </div>

                </div>
               
        

               

            </div>
                </div>
                </div>
       