@model Attendant_check.Models.Cartons

@{
    ViewData["Title"] = "Edit";
}
<h4 class="text_color p-2"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Modify cartons details</h4>
<hr />

<div class="row">
    <div class="col-md-7 text-center">
        <img src="/images/modify.png" class="_side" />
    </div>
    <div class="col-md-5">
        <form asp-action="Edit" class="text_color p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Carton_category" class="control-label"></label>
                <input asp-for="Carton_category" class="form-control" />
                <span asp-validation-for="Carton_category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buying_price" class="control-label"></label>
                <input asp-for="Buying_price" class="form-control" />
                <span asp-validation-for="Buying_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selling_price" class="control-label"></label>
                <input asp-for="Selling_price" class="form-control" />
                <span asp-validation-for="Selling_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No_of_bottle" class="control-label"></label>
                <input asp-for="No_of_bottle" class="form-control" />
                <span asp-validation-for="No_of_bottle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bottle_per_carton" class="control-label"></label>
                <input asp-for="bottle_per_carton" class="form-control" />
                <span asp-validation-for="bottle_per_carton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-sm button_custome" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
